{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Serviços</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'servico_static/css/servico_style.css' %}">
</head>
<body>
  {% include 'core/navbar.html' %}
  {% include 'core/sidebar.html' %}    
  
<div class="container">
    <div class="form-div-secondary">
            <form class="form-cadastro" action="" method="GET">
                <h2>Consultar Serviço</h2>
                {% csrf_token %}
                <div class="filtros">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome_filtrar" class="form-input">
                <input type="submit" value="Filtrar" class="form-btn">
                <a class="form-btn" href="/cadastros/servicos/criar_servico/">Cadastrar Serviço</a>
                </div>
            </form>
        </div>
  <div class="container">
    <!-- Lista de Serviços -->
    <div class="card services-card">
      <h3>Serviços Cadastrados</h3>

      {% for servico in servicos %}
  <div class="service-item">
    <div class="service-icon">💇</div>
    <div class="service-content">
      <h3>{{ servico.nome }}</h3>
      <p>{{ servico.descricao }}</p>
      <div class="price-time">
        <span>💲 R$ {{ servico.preco }}</span>
      </div>
    </div>
    <div class="service-actions">
       <a href="/cadastros/servicos/editar_servico/{{ servico.id}}"><button>✏️</button></a>
       <a href="/cadastros/servicos/deletar_servico/{{ servico.id}}"><button>🗑️</button></a>
     </div>
  </div>
  {% empty %}
    <p>Nenhum serviço cadastrado.</p>
  {% endfor %}
    </div>
  </div>
</body>
</html>
