{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Consultar Agendamentos</title>
    <link rel="stylesheet" href="{% static 'clientes/css/relatorios_Style.css' %}">
</head>
<body>
      {% include 'core/navbar.html' %}

  {% include 'core/sidebar.html' %}
  <main class="container">
    <form class="div-logs">
        <h5 class="desc-agend" class="desc-agend">Cliente Agendado: <a class="desc-agend" href="{% url 'relatorios:ver_cliente' agendamento.cliente.id %}"> 
        {{ agendamento.cliente.nome }}</h5> </a>
        <h5 class="desc-agend">Serviço Agendado: <span> {{ agendamento.servico.nome }}</h5> </span>
        <h5 class="desc-agend">Prestador do Serviço: <span> {{ agendamento.profissional.nome }}</h5> </span>
        <h5 class="desc-agend">Status do Agendamento: <span> {{ agendamento.status }}</h5> </span>
        <h5 class="desc-agend">Data e Hora do Agendamento: <span> {{ agendamento.data_agendada}}</h5> </span>
    </form>

    <form class="">
      <a href="{% url 'relatorios:deletar_agendamento' agendamento.id %}" class="btn btn-danger acoes">Excluir</a>
      <a href="/relatorios/clientes/" class="btn btn-primary acoes">Voltar</a>
    </form>
  </main>

</body>
</html>
