@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Estilo geral */
* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(#F1FAFF, #cbe4ff);
  display: flex;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 65px;
  height: 100vh;
  margin: 0;
  border-radius: 0 16px 16px 0;
  background-color: #383838;
  transition: width 0.6s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
}

.sidebar:hover {
  width: 250px;
}

/* Listas */
.sidebar .nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px 0;
}

/* Links */
.sidebar .nav-link {
  color: #F1FAFF;
  margin-top: -20px;
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 12px;
  transition: background 0.3s ease, color 0.3s ease;
}


.sidebar .nav-linki {
  color: #F1FAFF;
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 12px;
  transition: background 0.3s ease, color 0.3s ease;
}

.sidebar .nav-linki:hover {
  color: rgb(26, 26, 26);
  background: #f094c9;
}

/* Ícones centralizados */
.sidebar .nav-icon {
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  min-width: 28px;
}

/* Labels (texto) */
.sidebar .nav-label {
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.4s ease;
}

.sidebar:hover .nav-label {
  opacity: 1;
}

/* Nav secundária sempre no fim */
.sidebar .secondary-nav {
  margin-top: auto;
  padding-bottom: 16px;
}

/* Responsividade */
@media screen and (max-width: 600px) {
  .sidebar {
    width: 55px;
  }

  .sidebar:hover {
    width: 200px;
  }
}
