@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* Estilos para a barra de navegação principal */
.navbar {
    position: fixed; /* Fixa a barra no topo da janela */
    top: 0; /* Alinha a barra no topo */
    left: 0;
    width: 100%; /* Garante que ela ocupe a largura total */
    display: flex; /* Habilita o Flexbox */
    justify-content: space-between; /* Distribui os itens: um grupo à esquerda, outro à direita */
    align-items: center; /* Centraliza os itens verticalmente */
    list-style-type: none;
    margin: 0;
    padding: 10px 20px; /* Adiciona padding interno */
    background-color: #383838;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona uma pequena sombra para destacar */
    z-index: 999;
}

/* Estilos para os grupos de links */
.navbar ul {
    list-style-type: none; /* Remove os marcadores de lista */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin: 0 10px; /* Espaçamento entre os itens da lista */
}

/* Estilos para os links de navegação */
.nav-link, .navbar-brand {
    color: white;
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    font-size: 16px;
    font-weight: bold;
}

/* Estilos para os botões */
.button {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/* Para evitar que o conteúdo fique escondido atrás da navbar fixa */
body {
    padding-top: 60px; /* Ajuste este valor para a altura da sua navbar */
}