@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');



/* Estilos para a barra de navegação principal */
.navbar {
    position: fixed; /* Fixa a barra no topo da janela */
    top: 0; /* Alinha a barra no topo */
    left: 0;
    width: 100%; /* Garante que ela ocupe a largura total */
    display: flex; /* Habilita o Flexbox */
    justify-content: space-between; /* Distribui os itens: um grupo à esquerda, outro à direita */
    align-items: center; /* Centraliza os itens verticalmente */
    list-style-type: none;
    margin: 0;
    padding: 10px 20px; /* Adiciona padding interno */
    background-color: #383838;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona uma pequena sombra para destacar */
    z-index: 999;
    height: 5rem;
}

/* Estilos para os grupos de links */
.navbar ul {
    list-style-type: none; /* Remove os marcadores de lista */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin: 0 10px; /* Espaçamento entre os itens da lista */
}

.navbar ul .nav-brands{
    width: 220px;
    height: 190px;
    position: relative;
    top: -50px;
    background: #9e7d99;
    border-radius: 100px;
}


/* Estilos para os links de navegação */
.nav-link, 
.navbar-brand {
    padding: 15px 30px; /* Espaçamento */
    font-family: 'Playfair Display', serif; /* Fonte escolhida */
    font-size: 28px;  /* Tamanho maior para o nome */
    font-weight: 700; /* Peso da fonte */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
}

.navbar-primary{
    font-size: 16px;
    font-weight: bold;
    flex: 7;
}

.navbar-secondary{
    font-size: 14px;
    font-weight: normal;
    flex: 0;
}


/* Estilos para os botões */
.button {
    text-decoration: none;
    padding: 5px 5px;
    font-size: 2rem;
    border-radius: 37px;
    transition: background-color 0.3s ease;
    background-color: #9e7d99;
}
.button-red:hover{
    background-color: #5a6268;
    color: rgb(246, 64, 64);
}




/* Para evitar que o conteúdo fique escondido atrás da navbar fixa */
body {
    padding-top: 60px; /* Ajuste este valor para a altura da sua navbar */
}