{%load static%}
<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet" href="{% static 'funcionario_static/css/funcionario_style.css' %}">
</head>
<body class="body">
    {% include 'core/navbar.html' %}
    {% include 'core/sidebar.html' %}    <div class="div-cadastro">
      <form class="form-cadastro" action="" method="POST">
        <label for="Cadastre seu Cliente"></label>{% csrf_token %}
            <label class="name-form"><h1>Cadastro de Funcionario</h1></label>

            <label for="nome">Nome:</label>
            <input  type="text" name="nome" placeholder="Digite seu nome" class="form-control">

            <label for="email">Email:</label>
            <input  type="email" name="email" placeholder="Digite seu e-mail" class="form-control">

            <label for="telefone">Telefone:</label>
            <input  type="text" name="telefone" placeholder="Digite seu telefone" class="form-control">
            
            <label for="Servico">Serviço:</label>
            <select id="servico" name="servico" class="form-control">
                {% for i in servicos %}
                    <option value="{{i.id}}">{{ i.servico }}</option>
                {% endfor %}
            </select>

            <label for="endereco">Endereço:</label>
            <input  type="text" name="endereco" placeholder="Digite seu endereço" class="form-control">

            <input class="form-btn" type="submit" value="Salvar" class ="btn btn-success">    

      </form>  
    </div> 
  </body>
</html>