{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Funcionarios</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'servico_static/css/servico_style.css' %}">
</head>
<body>
  {% include 'core/navbar.html' %}
  {% include 'core/sidebar.html' %}
  
  <div class="container">
    <div class="form-div-secondary">
      <form class="form-cadastro" action="" method="GET">
        <h2>Consultar Funcionarios</h2>
        {% csrf_token %}
        <div class="filtros">

        <label for="nome">Nome</label>
        <input type="text" 
          id="nome" 
          name="nome_filtrar" 
          class="form-input"
        >
        <label for="email">Email</label>
        <input type="text"
          id="email" 
          name="email_filtrar" 
          class="form-input"
        >
        <label for="">CPF</label>
        <input type="text" 
          id="cpf" 
          name="cpf_filtrar" 
          class="form-input"
        >
        <label for="">Telefone</label>
        <input type="number"
        id="phone"
        name="phone_filtrar"
        class="form-input"
        >

        <input type="submit" 
          value="Filtrar" 
          class="form-btn"
        >
        <a class="form-btn" 
          href="/cadastros/funcionarios/criar_funcionario/">
          Cad. Funcionario</a>
          </div>
      </form>
      <div class="filtro-alfabeto">
        {% for l in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
        <a href="?letra={{ l }}" 
        class="">
        {{ l }}</a>
        {% endfor %}
        <a href="?">Todos</a>
      </div>
    </div>

    <!-- Lista de Clientes -->
    <div class="card services-card">
      <h3>Funcionarios Cadastrados</h3>

      {% for profissional in profissionais %}
      <div class="service-item">
        <div class="service-icon">✂️</div>
        <div class="service-content">
          <h3>Funcionario: {{ profissional.nome }}</h3>
          <h3>Telefone: ({{ profissional.telefone }}) - CPF: {{ profissional.cpf}} </h3>
          <h3>Email: {{ profissional.email  }} - Ativo: {{ c.ativo|yesno:"Sim,Não" }}</h3>
        </div>
        <div class="service-actions">
          <a href="/cadastros/funcionarios/editar_funcionarios/{{profissional.id}}"><button>✏️</button></a>
          <a href="/cadastros/funcionarios/deletar_funcionario/{{profissional.id}}"><button>🗑️</button></a>
        </div>
      </div>
      {% empty %}
        <p>Nenhum serviço cadastrado.</p>
      {% endfor %}
    </div>
  </div>
</body>
</html>
