{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=mode_off_on" />
        <link rel="stylesheet" href="{% static 'core_static/css/navbar.css' %}">
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>


<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" href="#"></a>
            <div class="navbar-primary">
                <ul>
                    <img src="/media/icon/nome.png" alt=" " class="nav-brands">
                </ul>
            </div>
            
            <div class="navbar-secondary">
                <ul class="navbar-login">
                    <li><a class="button" href="/cadastros/cliente/cliente">
                        <span class="material-symbols-outlined">mode_off_on</span>
                    </a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="body-type">
    </div> 
</body>
</html>