{%load static%}
<link rel="stylesheet" href="{% static 'core_static/css/navbar.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>


<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" href="#"></a>
            
            <div class="navbar-primary">
                <ul>
                    <li><a class="nav-link" href="#">Inicio</a></li>
                    <li><a class="nav-link" href="#">Sobre Nós</a></li>
                    <li><a class="nav-link" href="#">Trabalhe conosco</a></li>
                </ul>
            </div>
            
            <div class="navbar-secondary">
                <ul class="navbar-login">
                    <li><a class="button btn-primary" href="#">Logar</a></li>
                    <li><a class="button btn-secondary" href="/cadastros/cliente/cliente">Cadastrar</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="body-type">
    </div> 
</body>
</html>