(# Byte-compiled / optimized / DLL files)
__pycache__/
./__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.pytest_cache/

*.mo
*.pot

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

media/
media/**
staticfiles/
staticfiles/**

.env
**/.env
venv/
./venv
ENV/
env/
.venv/
venv.bak/
pipenv/
Pipfile.lock

.vscode/

.idea/

.DS_Store
Thumbs.db
desktop.ini

.idea/

*.egg-info/
dist/
build/

*.egg

*.pem

*.sqlite3
*.sqlite
