{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Relatório de Clientes</title>  
    <link rel="stylesheet" href="{% static 'clientes/css/relatorios_Style.css' %}">
</head>
<body>
    {% include 'core/navbar.html' %}
    {% include 'core/sidebar.html' %}
    <div class="container">  
        <h1>Consultar Clientes</h1>
        
        <form action="" method="GET">
            {% csrf_token %}
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome_filtrar" class="form-control">
            
            <label for="email">Email</label>
            <input type="text" id="email" name="email_filtrar" class="form-control">
            <input type="submit" value="Filtrar" class="btn btn-success">
        </form>
        <div class="div-log">
            {% for i in clientes %}                
             <a href="{% url 'relatorios:ver_cliente' i.id %}">          
                    <h5>CPF: <span>{{ i.cpf}}</span></h5>
                    <h5>Nome: <span>{{ i.nome }}</span></h5> 
                    <h5>Email: <span>{{ i.email }}</span></h5>
                    <h5>Telefone: <span>{{ i.telefone }}</span></h5>
                    <h5>Ativo: <span>{{ i.ativo|yesno:"Sim,Não" }}</span></h5>

            </a>
            {% empty %}
            <p>Nenhum cliente encontrado.</p>
            {% endfor %}
        </div>
        <form>
            <span class="qtd_age">Total de Clientes: {{ qtd_clientes }}</span>
            <a class="form-btn" href="?pagina={{ pagina|add:-1 }}">Anterior</a>
            <a class="form-btn" href="?pagina={{ pagina|add:1 }}">Próxima</a>
        </form> 
    </div>

</body>
</html>
