{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Relatório de Clientes</title>  
    <link rel="stylesheet" href="{% static 'geral/css/geral_Style.css' %}">
</head>
<body>
    {% include 'core/navbar.html' %}
    {% include 'core/sidebar.html' %}
    <div class="header">
        <h1>Relatório Clientes</h1>
        <form class="filters" method="GET">
            {% csrf_token %}
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome-filtrar" class="nome-filtrar">
            <label for="email">Email</label>
            <input type="text" id="email" name="email-filtrar" class="email-filtrar">
            <input type="submit" value="Filtrar" class="btn btn-success">
        </form>
    </div>
        <div class="grid">
      <div class="table-card">
        <h4><span class="qtd_age">Total de de clientes: {{ qntd_clientes }}</span></h4>
        
        <div class="paginacao">
        <span class="qtd_age">Paginas : </span>
        {% for page_num in paginas %}
        <a href="?pagina={{ page_num }}" class="page-number">
        {{ page_num }}
        </a>
        {% endfor %}
        </div>

        <table>
          <thead>
            <tr>
              <th>CPF</th>
              <th>Nome</th>
              <th>Email</th>
              <th>Telefone</th>
              <th>Ativo</th>
            </tr>
          </thead>
          <tbody>
            {% for i in clientes %}     
            <tr>
                <td>{{ i.cpf}}</td>
                <td>{{ i.nome }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.telefone }}</td>
                <td>{{ i.ativo|yesno:"Sim,Não" }}</td>
                <td><a href="{% url 'relatorios:ver_cliente' i.id %}">
                <button>✏️ Editar</button>
                </a></td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5">Nenhum agendamento encontrado.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
          <form>
          <span class="qtd_age">Total de de clientes: {{ qntd_clientes }}</span><br> <br>

          <div class="paginacao">
          {% if pagina > 1 %}
              <a class="form-btn" href="?pagina={{ pagina|add:-1 }}">Anterior</a>
          {%else%}
              <a class="form-btn" >Anterior</a>
          {% endif %}
          
          {% for page_num in paginas %}
          <a href="?pagina={{ page_num }}" class="page-number">
              {{ page_num }}
          </a>
          {% endfor %}

          {% if pagina < total_paginas %}
              <a class="form-btn" href="?pagina={{ pagina|add:1 }}">Próxima</a>
          {%else%}
              <a class="form-btn">Próxima</a>
          {% endif %}
          </div>
          </form> 
      </div>
      
</body>
</html>
