{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Relatório de Clientes</title>  
    <link rel="stylesheet" href="{% static 'geral/css/geral_Style.css' %}">
</head>
<body>
    {% include 'core/navbar.html' %}
    {% include 'core/sidebar.html' %}
    <div class="header">
        <h1>Relatório Clientes</h1>
        <form class="filters" method="GET">
            {% csrf_token %}
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome-filtrar" class="nome-filtrar">
            <label for="email">Email</label>
            <input type="text" id="email" name="email-filtrar" class="email-filtrar">
            <input type="submit" value="Filtrar" class="btn btn-success">
        </form>
    </div>
        <div class="grid">
      <div class="table-card">
        <h3>📊 Clientes</h3>
        <table>
          <thead>
            <tr>
              <th>CPF</th>
              <th>Nome</th>
              <th>Email</th>
              <th>Telefone</th>
              <th>Ativo</th>
            </tr>
          </thead>
          <tbody>
            {% for i in clientes %}     
            <tr>
                <td>{{ i.cpf}}</td>
                <td>{{ i.nome }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.telefone }}</td>
                <td>{{ i.ativo|yesno:"Sim,Não" }}</td>
                <td><a href="{% url 'relatorios:ver_cliente' i.id %}">
                <button>✏️ Editar</button>
                </a></td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5">Nenhum agendamento encontrado.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
          <form>
          <span class="qtd_age">Total de Agendamentos: {{ total_agendamentos }}</span><br> <br>
          <a class="form-btn" href="?pagina={{ pagina|add:-1 }}"
          >Anterior</a>
          <a class="form-btn" href="?pagina={{ pagina|add:+1 }}"
          >Próxima</a>
          </form> 
      </div>
      
</body>
</html>
