@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: auto;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    height: 100vh;
    flex-grow: 1;
    background-image: linear-gradient(to top, #eb9f6de8, #a14b11);
    height: 100vh;

}

.navbar{
    position: absolute;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    flex-direction: row;
}

.navbar .navbar-title{
    background: #fff;
    border-radius: 5px;

}

.navbar div ul a{
    background: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.body-type{
    background: none;
    height: 100vh;
}


.body-type .img-servico{
    position: relative;
    display: inline;
    max-width: 250px;
    max-height: 250px;
    border-radius: 12px;
}