* {
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    body {
      background: #f5f5f9;
      color: #fff;
      position: relative;
      top: 5vh;
      overflow: hidden;
    }

    h1 {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    p.subtitle {
      font-size: 14px;
      color: #666;
      margin-bottom: 20px;
    }

    .container {
      display: flex;
      justify-content: center;
    }

    /* ===== Card ===== */
    .card {
      background: #383838;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    }

    /* ===== Form ===== */
    .form-card {
      flex: 1;
      max-width: 400px;
      
    }

    .form-card label {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 5px;
      display: block;
    }

    .form-card input,
    .form-card select,
    .form-card textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      border-radius: 6px;
      font-size: 14px;
    }

    .form-row {
      display: flex;
      gap: 10px;
    }

    .btn-submit {
      width: 100%;
      padding: 12px;
      background: #8c4bff;
      border: none;
      border-radius: 6px;
      color: #383838;
      font-weight: 600;
      font-size: 15px;
      cursor: pointer;
      transition: background 0.3s;
    }

    .btn-submit:hover {
      background: #6c3ccf;
    }


