{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Relatório de Agendamentos</title>
  <link rel="stylesheet" href="{% static 'geral/css/geral_Style.css' %}">
</head>
<body>
  <header>
    <img src="logo.png" alt="Logo">
    <h1>Relatório de Agendamentos</h1>
    <span>Sistema XYZ</span>
  </header>

  <div class="filtros">
    <p><strong>Filtros:</strong> Período: {{request.GET.data_inicio}} a {{request.GET.data_fim}} | Status: {{request.GET.selecionar_status}}</p>
  </div>

  <table>
  <thead>
    <tr>
      <th>CPF</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Ativo</th>
    </tr>
  </thead>
  <tbody>
    {% for i in clientes %}
      <tr>
        <td>{{ i.cpf }}</td>
        <td>{{ i.nome }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.telefone }}</td>
        <td>{{ i.ativo|yesno:"Sim,Não" }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5" style="text-align: center;">Nenhum cliente encontrado.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Serviço</th>
      <th>Cliente</th>
      <th>Funcionario</th>
      <th>Status</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    {% for i in agendamentos  %}
      <tr>
        <td>{{ i.servico }}</td>
        <td>{{ i.cliente__nome}}</td>
        <td>{{ i.profissional__nome}}</td>
        <td>{{ i.status }}</td>
        <td>{{ i.data_agendada}}</td>
      </tr>
    {% empty %}
      <tr>

        <td colspan="5" style="text-align: center;">Nenhum cliente encontrado.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Funcionario</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Ativo</th>
      <th>Especialidade</th>
    </tr>
  </thead>
  <tbody>
    {% for i in funcionarios %}
      <tr>
        <td>{{ i.nome }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.telefone }}</td>
        <td>{{ i.ativo|yesno:"Sim,Não" }}</td>
        <td>{{ i.especialidade}}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5" style="text-align: center;">Nenhum cliente encontrado.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<hr> 
  <div class="resumo">
    <p><strong>Resumo:</strong></p>
    <ul>
      <li>Total de agendamentos: {{qntd_agendamentos}}</li>
      <li>Concluídos: {{agend_concluidos}}</li>
      <li>Cancelados: {{agend_cancelados}}</li>
      <li>Valor total: R$ {{ valor_total_serv|floatformat:2 }}</li>
    </ul>
  </div>

  <footer>
    Gerado em: 10/09/2025 às 15:42 | Página 1
  </footer>
</body>
</html>
