{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
      <meta charset="UTF-8">
      <title>Dashboard</title> 
      <link rel="stylesheet" href="{% static 'home_static/css/home.css' %}">
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
  <body>
        {% include 'core/navbar.html' %}
        {% include 'core/sidebar.html'%}
    <div class="header">
      <h1>Relatório Geral de Performance</h1>
      <p>Visão geral dos agendamentos, clientes, Funcionários e performance</p>
    </div>

    <div class="filters">
      <button>🖨️ Imprimir</button>
      <button>⬇️ Exportar</button>
    </div>

    <div class="cards">
      <div class="card">
        <span class="icon" >📅</span>
        <h2>{{qntd_agendamentos}}</h2>
        <p>Total de Agendamentos</p>
      </div>
      

      <div class="card">
        <span class="icon">⏳</span>
        <h2>{{agend_pendentes}}</h2>
        <p>Agendamentos Pendentes</p>
      </div>
      
      <a href="/relatorios/agendamentos/?selecionar_status=Concluído">
        <div class="card">
          <span class="icon">✔️</span>
          <h2>{{agend_concluidos}}</h2>
          <p>Agendamentos Concluídos</p>
        </div>
      </a>
      
      <a href="/relatorios/agendamentos/?selecionar_status=Cancelado">
      <div class="card">
        <span class="icon">❌</span>
        <h2>{{agend_cancelados}}</h2>
        <p>Agendamentos Cancelados</p>
      </div>
      </a>
      
      <a href="/relatorios/agendamentos/?data_inicio={{data_range.hoje}}&data_fim={{data_range.amanha}}">
        <div class="card">
          <span class="icon">📅</span>
          <h2>{{ data_range.agendamentos_hoje }}</h2>
          <p>Agendamentos Hoje</p>
        </div>
      </a>
      
      <a href="/relatorios/agendamentos/?data_inicio={{data_range.inicio_da_semana}}&data_fim={{data_range.fim_da_semana}}">
        <div class="card">
          <span class="icon">📅</span>
          <h2>{{ data_range.agendamentos_semana }}</h2>
          <p>Semana Atual</p>
        </div>
      </a>

      <a href="/relatorios/clientes/">
      <div class="card">
        <span class="icon">👥</span>
        <h2>{{qntd_clientes }}</h2>
        <p>Clientes Cadastrados</p>
      </div>
      </a>
      
      <div class="card">
        <span class="icon">💲</span>
        <h2>R$ {{ valor_total_serv|floatformat:2 }}</h2>
        <p>Faturamento Total</p>
    </div>
                
    </div>
    
    <div class="grid">
      <div class="charts">
        <div class="chart-box">
          <h3>Distribuição de Serviços</h3>
        <canvas id="servicosChart"></canvas>
        {% for servico in total_agendamentos_serv %}
        <li class="qtd-agen"
        data-percent="{{servico.percentual}}"
        data-servico-nome="{{servico.servico__nome}}">
              {{ servico.servico__nome }}: {{ servico.total }} pedidos ({{servico.percentual}}%)
            </li>
          {% endfor %}
      </div>
    </div>

     <div class="charts">
    <div class="card">
      <h3>Distribuição por Status</h3>
      <canvas id="statusChart"></canvas>
      <div style="margin-top:10px; font-size: 0.9rem;">
        <span style="color:green;">⬤ Concluídos</span> &nbsp;
        <span style="color:orange;">⬤ Pendentes</span> &nbsp;
        <span style="color:red;">⬤ Cancelados</span>
      </div>
      </div>
    </div>

</div>

  <!-- === RANKINGS === -->
  <div class="ranking-section">
    <div class="card">
      <h3>Top 5 Serviços</h3>
      <div class="ranking">
        {% for i in rank_serv %}
          <div class="ranking-item">
            {{ forloop.counter }}. {{ i.servico__nome }}
            <small>{{ i.total_servicos }} agendamentos</small>
          </div>
        {% endfor %}      
      </div>
    </div>

    <div class="card">
      <h3>Top 5 Clientes</h3>
      <div class="ranking">
        {% for i in rank_cli %}
          <div class="ranking-item">
            {{ forloop.counter }}. {{ i.cliente__nome }}
            <small>{{ i.total_servicos }} agendamentos</small>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="card">
      <h3>Top 5 Funcionários</h3>
      <div class="ranking">
        {% for i in rank_func %}
          <div class="ranking-item">
            {{ forloop.counter }}. {{ i.profissional__nome }}
            <small>{{ i.total_servicos }} agendamentos</small>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
<script src="{% static 'geral/js/geral.js' %}"></script>
</html>