{% load static %}
<link rel="stylesheet" href="{% static 'home_static/css/home.css' %}">
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    
    {% include 'core/navbar.html' %}
    {% include 'core/sidebar.html' %}
  <div class="dashboard">

    <div class="cards">
      <div class="card">
        <h2>Agendamentos Hoje</h2>
        <p>12</p>
      </div>
      <div class="card">
        <h2>Semana Atual</h2>
        <p>88</p>
      </div>
      <div class="card">
        <h2>Cancelados</h2>
        <p>5</p>
      </div>
      <div class="card">
        <h2>Receita</h2>
        <p>R$ 1.200</p>
      </div>
    </div>

    <div class="charts">
      <div class="chart-box">
        <h3>Distribuição de Serviços</h3>
        <canvas id="servicosChart"></canvas>
      </div>
      <div class="chart-box">
        <h3>Agendamentos por Dia</h3>
        <canvas id="linhaChart"></canvas>
      </div>
    </div>

    <div class="agenda">
      <h3>Próximos Agendamentos</h3>
      <ul>
        <li>Maria - Corte de cabelo - 14:00</li>
        <li>João - Unhas - 15:00</li>
        <li>Ana - Maquiagem - 16:30</li>
        <li>Carlos - Pacote Spa - 17:00</li>
      </ul>
    </div>
  </div>
</body>
<script src="{% static 'home_static/js/home.js' %}"></script>

</html>
