{% load static %}
<link rel="stylesheet" href="{% static 'home_static/css/home.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {% include 'core/navbar.html' %}
    {% include 'core/sidebar.html' %}

    <div class="search-container">
        <label class="search-title">Pesquisar</label>
        <input class="search-text" type="text">
        <span class="nav-icon material-symbols-rounded">search</span>
    </div>

    <div class="container">
        <div class="dash">
            <a href="">
                <label class="lb-title">Clientes</label>
                <span class="qtd-agen">Total de Clientes: {{ qntd_clientes }}</span>
                <span class="qtd-agen">Total de Clientes Ativos: {{ qntd_clientes.ativo }}</span>
                <span class="qtd-agen">Total de Clientes Cancelados: {{ qntd_clientes }}</span>
            </a>
        </div>
        <div class="dash">
             <a href="">
            <label class="lb-title">Agendamentos</label>
            <span class="qtd-agen">Total de Agendamentos: {{ qntd_agendamentos }}</span>
            <span class="qtd-agen">Total de Agendamentos: {{ qntd_agendamentos }}</span>
            <span class="qtd-agen">Total de Agendamentos: {{ qntd_agendamentos }}</span>
            </a>
        </div>
        <div class="dash">
             <a href="">
            <label class="lb-title">Funcionarios</label>
            <span class="qtd-agen">Total de Funcionarios: {{ qntd_funcionarios }}</span>
            <span class="qtd-agen">Total de Funcionarios: {{ qntd_funcionarios }}</span>
            <span class="qtd-agen">Total de Funcionarios: {{ qntd_funcionarios }}</span>
            </a>
        </div>
        <div class="dash">
             <a href="">
            <label class="lb-title">Serviços</label>
            <span class="qtd-agen">Total de Serviços: {{ qntd_servicos }}</span>
            <span class="qtd-agen">Total de Serviços: {{ qntd_servicos }}</span>
            <span class="qtd-agen">Total de Serviços: {{ qntd_servicos }}</span>
            </a>
        </div>
    </div>
</body>