/* ===== Reset Global ===== */
* {
  box-sizing: border-box;
}

/* ===== Layout Geral ===== */
body {
  
font-family: "Poppins", sans-serif;  

background: #f3f0ff;
  
color: #333;  
  
position: relative;

display: flex;

justify-content: center;

overflow: hidden;
}

/* ===== Container do Form ===== */

.name-form{
  background: #8c4bff;
  border-radius: 12px;
  padding: 1px;
}

.form-cadastro {
  background: #383838;
  display: flex;
  color: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  flex: 1 1 320px;
  max-width: 707px;
  min-width: 500px;
  margin-bottom: 15px;
  flex-direction: column;
}

.form-cadastro label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  display: block;
}

.form-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.form-btn {
  width: 100%;
  padding: 12px;
  margin-top: 0.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  background: #8c4bff;
  color: #fff;
  transition: background 0.3s, transform 0.2s;
}

.form-btn:hover {
  background: #3bc577;
  transform: translateY(-1px);
}