{%load static%}
<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Cliente</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet" href="{% static 'cliente_static/css/criacao_Style.css' %}">
</head>
<body class="body">
    {% include 'core/navbar.html' %}
    {% include 'core/sidebar.html'%}
        <form class="form-cadastro" action="" method="POST">{% csrf_token %}
            <h4><label class="name-form">Cadastre seu Cliente</label></h4>
            <div class="form-div-primary">
                <label for="nome">Nome:</label>
                <input 
                class="form-input" 
                type="text" 
                name="nome" 
                placeholder="Digite seu nome"
                >
    
                <label for="email">Email:</label>
                <input 
                class="form-input" 
                type="email" 
                name="email" 
                placeholder="Digite seu e-mail"
                >
               
                <label for="telefone">Telefone:</label>
                <input 
                class="form-input" 
                type="text" 
                name="telefone" 
                placeholder="Digite seu telefone"
                maxlength="15"
                >
               
                <label for="tipo_usuario">Cpf</label>
                <input 
                class="form-input" 
                type="text" 
                name="cpf" 
                placeholder="Digite seu cpf"
                maxlength="14"
                >
                <br>
            </div>
            <input class="form-btn" type="submit" value="Salvar" class ="btn btn-success">
        </form>      
        </div>
</body>
</html>