{%load static%}
<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Cliente</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet" href="{% static 'cliente_static/css/cadastro_Style.css' %}">
</head>
<body class="body">
    {% include 'core/navbar.html'%}
    {% include 'core/sidebar.html'%}  
    <div class="div-cadastro">
        <form class="form-cadastro" action="{% url 'cadastros:cliente'%}" method="POST">{%csrf_token%}
            <label class="form-label">Cadastro</label>
            <br>
            
            <div class="form-div-primary">
                <input class="form-input" type="text" placeholder="Nome" name="first_name">
                <input class="form-input" type="text" placeholder="Sobrenome" name="last_name">
            </div>

            <div class="form-div-secondary">
                <input class="form-input" type="text" placeholder="Usuario" name="username">
                <input class="form-input" type="email" placeholder="email" name= 'email' id="">
            </div>

            <div class="form-div-third">
                <input class="form-input type-password" type="password" placeholder="senha" name="senha" id="">
                <input class="form-input type-password" type="password" placeholder="repita sua senha" name="senha" id="">
            </div>

            <br>
            <input class="form-btn" type="submit" value="cadastrar" id="">
        </form>

    </div>
</body>
</html>