{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Serviços</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'servico_static/css/servico_style.css' %}">
</head>
<body>
  {% include 'core/navbar.html' %}
  {% include 'core/sidebar.html' %}
  
  <div class="container">
    <div class="form-div-secondary">
            <form class="form-cadastro" action="" method="GET">
                <h2>Consultar Cliente</h2>
                {% csrf_token %}
                <div class="filtros">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome_filtrar" class="form-input">
                <label for="email">Email</label>
                <input type="text" id="email" name="email_filtrar" class="form-input">
                <label for="">CPF</label>
                <input type="text" id="cpf" name="cpf_filtrar" class="form-input">
                <input type="submit" value="Filtrar" class="form-btn">
                <a class="form-btn" href="/cadastros/cliente/cliente"> Cadastrar cliente</a>
                </div>
            </form>
        </div>

        <div class="filtro-alfabeto">
                {% for l in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                    <a href="?letra={{ l }}" class="">{{ l }}</a>
                {% endfor %}
                <a href="?">Todos</a>
        </div>
    <!-- Lista de Clientes -->
    <div class="card services-card">
      <h3>Clientes Cadastrados</h3>

      {% for c in clientes %}
  <div class="service-item">
    <div class="service-icon">💇</div>
    <div class="service-content">
      <h3>{{ c.nome }}</h3>
      <span class="tag">{{ servico.categoria.nome }}</span> <!-- se tiver FK categoria -->
      <p>Telefone: ({{ c.telefone }}) - CPF: {{ c.cpf }} </p>
      <p>Email: {{ c.email }} - Ativo: {{ c.ativo|yesno:"Sim,Não" }}</p>
    </div>
    <div class="service-actions">
      <a href="{% url 'relatorios:ver_cliente' c.id %}"><button>✏️</button></a>
      <a href="/relatorios/deletar_cliente/{{c.id}}"><button>🗑️</button></a>
    </div>
  </div>
  {% empty %}
    <p>Nenhum serviço cadastrado.</p>
  {% endfor %}
    </div>
  </div>
</body>
</html>
