{%load static%}
<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Cliente</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet" href="{% static 'cliente_static/css/bup.css' %}">
</head>
<body class="body">
    {% include 'core/navbar.html' %}
    {% include 'core/sidebar.html'%}
    <div class="div-Form">
        <div>
        <form class="form-cadastro" action="" method="POST">{% csrf_token %}
            <h4><label class="name-form">Cadastre seu Cliente</label></h4>
            <div class="form-div-primary">
                <label for="nome">Nome:</label>
                <input class="form-input" type="text" name="nome" placeholder="Digite seu nome">
    
                <label for="email">Email:</label>
                <input class="form-input" type="email" name="email" placeholder="Digite seu e-mail">
               
                <label for="telefone">Telefone:</label>
                <input class="form-input" type="text" name="telefone" placeholder="Digite seu telefone">
               
                <label for="tipo_usuario">Cpf</label>
                <input class="form-input" type="text" name="cpf" placeholder="Digite seu cpf">
                <br>
            </div>
            <input class="form-btn" type="submit" value="Salvar" class ="btn btn-success">
        </form>      
        <div class="form-div-secondary">
            <form class="form-cadastro" action="" method="GET">
                <h4><label class="name-form">Consultar Cliente</label></h4>
                {% csrf_token %}
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome_filtrar" class="form-input">
                <label for="email">Email</label>
                <input type="text" id="email" name="email_filtrar" class="form-input">
                <input type="submit" value="Filtrar" class="form-btn">
            </form>
        </div>
        </div>
        
        <div class="container">
            
        <div class="form-cadastro div-log">
            {% if clientes %}
            <ul>
            {% for c in clientes %}
                <div class="div-log registro">
                    <li>
                        <strong>{{ c.nome }}</strong> ({{ c.telefone }})
                        <div class="info">
                            CPF: {{ c.cpf }} –
                            Email: {{ c.email }} –
                            Ativo: {{ c.ativo|yesno:"Sim,Não" }}
                        </div>

                        <a href="{% url 'relatorios:ver_cliente' c.id %}" class="btn">Editar</a>
                        <a href="/relatorios/deletar_cliente/{{c.id}}" class="btn">❌ Excluir</a>
                    </li>
                </div>
            {% endfor %}
            </ul>
            {% else %}
                <p>Nenhum cliente encontrado.</p>
            {% endif %}
        </div>
        
        <form class="form-cadastro">
            <span class="qtd_age">Total de Clientes: {{ qtd_clientes }}</span>
            <a class="form-btn" href="?pagina={{ pagina|add:-1 }}">Anterior</a>
            <a class="form-btn" href="?pagina={{ pagina|add:1 }}">Próxima</a>
        </form> 
        </div>
        <div class="filtro-alfabeto">
                {% for l in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                    <a href="?letra={{ l }}" class="">{{ l }}</a>
                {% endfor %}
                <a href="?">Todos</a>
        </div>
        </div>
</body>
</html>