{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relatório Geral de Performance</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'geral/css/geral_Style.css' %}">
</head>


<body>

  <div class="header">
    <h1>Relatório Agendamentos</h1>
    <p>Visão geral dos agendamentos</p>
  </div>
  <div class="cards">
    <div class="card">
      <span class="icon">✔️</span>
      <h2>{{ total_agendamentos }}</h2>
      <small>Total de Agendamentos</small>
    </div>
    <div class="card">
      <span class="icon">👥</span>
      <h2>52</h2>
      <small>Clientes Cadastrados</small>
    </div>
    <div class="card">
      <span class="icon">💲</span>
      <h2>R$ {{ total_arrecadado }}</h2>
      <small>Faturamento do Periodo</small>
    </div>
  </div>

  <div class="grid">
    <div class="table-card">
      <h3>📊 Agendamentos Recentes</h3>
      <table>
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Serviço</th>
            <th>Profissional</th>
            <th>Data</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for ag in agendamentos %}
          <tr>
            <a href="{% url 'relatorios:ver_agendamento' ag.id %}">
            <td>{{ ag.cliente.nome }}</td>
            <td>{{ ag.servico.nome }}</td>
            <td>{{ ag.profissional.nome }}</td>
            <td>{{ ag.data_agendada|date:"d/m/Y H:i" }}</td>
            <td class="status {{ag.status|lower|slugify}}">{{ ag.status }}</td>
            </a>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">Nenhum agendamento encontrado.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div>
      <div class="ranking-card">
        <h3>🏆 Ranking de Clientes</h3>
        <div class="ranking">
          {% for i in rank_cli %}
          <div class="ranking-item">
            {{ forloop.counter }}. {{ i.cliente__nome }}
            <small>{{ i.total_servicos }} agendamentos</small>
          </div>
        {% endfor %}
        </div>
      </div>

      <div class="ranking-card">
        <h3>⭐ Ranking de Funcionários</h3>
        <div class="ranking">
          {% for i in rank_func %}
          <div class="ranking-item">
            {{ forloop.counter }}. {{ i.profissional__nome }}
            <small>{{ i.total_servicos }} agendamentos</small>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.8/inputmask.min.js"></script>
<script>
  Inputmask("99/99/9999").mask("#data");
</script>
</body>
</html>
