{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
      <meta charset="UTF-8">
      <title>Agendamentos</title> 
        <link rel="stylesheet" href="{% static 'agendamento_static/css/agendamento_style.css' %}">
    </head>
  <body>
    {% include 'core/navbar.html' %}
    {% include 'core/sidebar.html'%}
    <div class="content">
        <div class="container">
            <div class="titulo">Agendar Serviço</div>
            <form action="/servicos/agendamento/" method="POST">
            {% csrf_token %}
            <div class='formulario'>
                <label for="cliente">Cliente:</label>
                <select id="cliente" name="cliente" class="form-control">
                    {% for i in clientes %}
                            <option value="{{i.id}}">{{ i.nome }}</option>
                    {% endfor %}
                </select>

                <label for="Funcionario">Funcionário:</label>
                <select id="funcionario" name="funcionario"class = "form-control">
                    {% for i in profissional %}
                            <option value="{{i.id}}">{{ i.nome }}</option>
                    {% endfor %}
                </select>

                <label for="Servico">Serviço:</label>
                    <div class="form-check">
                        {% for i in servicos %}
                            <div class="servico-item">
                                <label class="form-check-label" for="servico{{ i.id }}">
                                    <div class="descricao">
                                        <input class="form-check-input servico-checkbox" 
                                                type="checkbox" 
                                                name="servico" 
                                                value="{{ i.id }}" 
                                                id="servico{{ i.id }}">
                                        <span class="nome-servico">{{ i.nome }}</span>
                                        <span class="preco">R${{ i.preco }}</span>

                                        <div class="quantidade-container" style="display:none; margin-left:10px;" data-id="{{ i.id }}">
                                            <button type="button" class="btn-menos" data-id="{{ i.id }}">-</button>
                                            <input type="number" name="quantidade_{{ i.id }}" value="1" min="1" class="input-qtd" data-id="{{ i.id }}">
                                            <button type="button" class="btn-mais" data-id="{{ i.id }}">+</button>
                                        </div>

                                    </div>
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                <label for="data_hora">Data e Hora:</label>
                <input type="datetime-local" 
                id="data_hora" 
                name="data_hora" 
                class="form-control">                                    
                <input type="submit" 
                value="Agendar" 
                class="btn btn-success">
            </div>
            <input type="hidden" id="total_servicos" name="total_servicos" value="0">
            </form>

            {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="calendario">
            <div class="titulo">Calendário de Agendamentos</div>
            <div class="mini-calendar">
            {% for day in proximos_dias %}
            <div class="day">
                <div class="day-card ">
                    <label class="day-txt">{{ day.data|date:"d/m" }} — {{ day.label }}</label>
                    {% if day.appointments %}
                    <ul>
                        {% for a in day.appointments %}
                        <div>
                            <li>
                                <div class="time">
                                    <strong class="hora">{{ a.data_agendada|date:"H:i" }}</strong>
                                    <strong>{{ a.cliente.nome }}</strong> ({{ a.cliente.telefone }})
                                    - {{ a.profissional.nome }}
                                    - {% for s in a.servico.all %}
                                        {{ s.nome }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                    <span class="status-{{ a.status|lower|slugify }}">{{ a.status }}</span>
                                    <span class="price">R$ {{ a.valor_total }}</span><br>

                                    <a href="{% url 'relatorios:editar_agendamento' a.id %}">
                                        <i>✏️</i><span>Editar</span>
                                    </a>
                                    <a href="/servicos/alterar_status/{{ a.id }}/Cancelado/" class="btn">
                                        <i>❌</i><span>Cancelar</span>
                                    </a>
                                    <a href="/servicos/alterar_status/{{ a.id }}/Concluído" class="btn">
                                        <i>✅</i><span>Concluir</span>
                                    </a>
                                </div>

                            </li>
                        </div>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>Nenhum atendimento.</p>
                    {% endif %}
                </div>
            </div>
                {% endfor %}
            </div>
        </div>
    </div>

    
</body>
<script src="{% static 'agendamento_static/js/agendamento.js' %}"></script>
</html>