{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Agendamento de Serviços</title>
        <link rel="stylesheet" href="{% static 'clientes/css/relatorios_Style.css' %}">
    </head>
    <body>
        {% include 'core/navbar.html' %}
        {% include 'core/sidebar.html'%}
        <div class="container">
            <h1>Agendamento de Serviços</h1>
            <form action="/servicos/agendamento/" method="POST">
            {% csrf_token %}

            <label for="cliente">Cliente:</label>
            <select id="cliente" name="cliente" class="form-control">
                {% for i in clientes %}
                        <option value="{{i.id}}">{{ i.nome }}</option>
                {% endfor %}
            </select>

            <label for="Funcionario">Funcionário:</label>
            <select id="funcionario" name="funcionario"class = "form-control">
                {% for i in profissional %}
                        <option value="{{i.id}}">{{ i.nome }}</option>
                {% endfor %}
            </select>

            <label for="Servico">Serviço:</label>
            <select id="servico" name="servico" class="form-control">
                {% for i in servicos %}
                    <option value="{{i.id}}">{{ i.nome }}</option>
                {% endfor %}
            </select>

            <label for="data_hora">Data e Hora:</label>
            <input type="datetime-local" id="data_hora" name="data_hora" class="form-control">                    
            <label for="">Status</label>
            
            <input type="submit" value="Agendar" class="btn btn-success">
            </form>
        </div> 
    </body>
</html>